body{
background-color: #ebedef  ;
font-family: "Ubuntu", sans-serif;
}

#navbarNav {
  justify-content: end;
}
.bg-azul{
background-color:#1a5276;
color: white;
}
.bg-azul2{
  background-color: #ebedef  ;
}

/* seccion de foto + resumen cv*/
.section1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;

}
#resumencv {
    width: 70%;
  text-align: justify;
  padding: 3%;
}

/* seccion de Mas sobre mi*/

.sobremi {
  display: flex;
  justify-content: space-evenly;
}

.card-header{
text-align: center;
}

/*seccion de habilidades*/
.section3 {
margin-top: 1%;
padding: 1%;
}


.card-img-top {
  height: 200px;
  background-size: contain;
}
.cardhabi {
  border: none;
}

#Mis-proyectos .image-top {
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }

  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
      }}